body {
	background: #1E1E1E;
	height: 100vh;
	display: flex;
	margin: 0;
	flex-direction: column;
	overflow: hidden;
}

.navbar {
	padding: 10px;
	border-bottom: 1px solid black;
}

.codeContainer{
	margin-top: 20px;
	background-color:  #1E1E1E;
	height: 100%;
	position: relative;
	overflow: scroll;
	overflow-y: hidden;
}

.column {
	border: solid black 1px;
}

iframe {
	height: 100%;
	width: 100%;
	font-weight: bold;
	border: none;
}

.row {
	display: flex;
	flex: 1;
	overflow: hidden;	
}

.row > * {
	flex: 1;
	overflow: hidden;
}

.codeTextArea {
	height: 100%;
	width: 100%;
	border: none;
}

#btnRun {
	float: right;
	background: #096D09;
}

#btnRun:hover {
	background: rgb(7, 95, 7);
}

.navButton {
	padding: 10px 20px;
	color: white;
	background: transparent;
	border-radius: 5px;
	border: none;
	transition: 0.2s ease all;
}

.active {
	background: #569cd6;
}

.active:hover {
	background: #458ac2;
}
.CSS-box, .JS-box {
    display: none;
}